@layer components {
  .drawer-content {
    @apply absolute flex max-w-full flex-col bg-white shadow-xl dark:bg-gray-800;
  
    &.vertical {
      @apply h-full;
    }
  
    &.horizontal {
      @apply w-full;
    }
  }
  
  .drawer-header {
    @apply flex items-center justify-between border-b border-gray-200 px-4 py-4 dark:border-gray-700 sm:px-6;
  }
  
  .drawer-body {
    @apply h-full overflow-y-auto p-4 sm:p-6;
  }
  
  .drawer-footer {
    @apply flex items-center justify-between border-t border-gray-200 px-4 py-4 dark:border-gray-700 sm:px-6;
  }
  
  .drawer-open {
    &.drawer-lock-scroll {
      @apply overflow-hidden;
    }
  }
  
  .drawer-overlay {
    transition: all 0.3s ease-in-out;
    @apply bg-black/80 inset-0 fixed z-40;
  }
  
  .drawer-overlay-after-open {
    opacity: 1;
  }
  
  .drawer-overlay-before-close {
    opacity: 0;
  }
  
}